<div class="modal-header">
    <h4 class="modal-title">Employee file selection for import</h4>
</div>
<div class="modal-body">
    <label for="file">Data file (csv): </label>
    <input type="file" id="file" (change)="handleFileSelect($event.target.files)">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submitFile()">Import</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Dismiss</button>
</div>
