<div *ngIf="employee">
    <h2><span>Executive Employee</span> {{employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div>
        <h3>Basic info</h3>
        <dl class="row-md jh-entity-details">
            <dt><span>Employee Name</span></dt>
            <dd>
                <span>{{employee.employeeName}}</span>
            </dd>
            <dt><span>Hire Date</span></dt>
            <dd>
                <span>{{employee.hireDate | date:'mediumDate'}}</span>
            </dd>
            <dt><span>Position</span></dt>
            <dd>
                <span>{{employee.position}}</span>
            </dd>
            <dt><span>Email</span></dt>
            <dd>
                <span>{{employee.email}}</span>
            </dd>
            <dt><span>Phone Nr</span></dt>
            <dd>
                <span>{{employee.phoneNumber}}</span>
            </dd>
            <dt><span>Reserved parking space code</span></dt>
            <dd>
                <span>{{employee.parkingSpaceCode}}</span>
            </dd>
        </dl>
    </div>
    <!-- add bonuses summary table-->
    <div>
        <h3>Bonuses summary</h3>
        <table class="table table-sm table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th>Assign date</th>
                <th>Bonus Amount</th>
            </tr>
            </thead>
            <tr *ngFor="let bon of bonuses">
                <td><span>{{bon.bonusDate| date:'mediumDate'}}</span></td>
                <td><span>{{bon.bonusAmount| number:'1.2'}}</span></td>
            </tr>
            <tr *ngIf="!bonuses?.length">
                <td colspan="2"><span>No data</span></td>
            </tr>

            <tfoot class="thead-light" *ngIf="bonuses?.length">
            <tr>
                <th>Average</th>
                <th>{{getAverage() | number:'1.2'}}</th>
            </tr>
            <tr>
                <th>Total</th>
                <th>{{getTotal() | number:'1.2'}}</th>
            </tr>
            <tr>
                <th>Min</th>
                <th>{{getMin() | number:'1.2'}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

</div>
