<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome, Elbonian Governmental System Enthusiast!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"> You are logged in as user "{{account.login}}". </span>
            </div>
            <div *ngSwitchCase="true">
                <p class="lead"> Congratulations on logging into the system. </p>
                <span> Feel free to look around and see what the system can do. </span><br/>
                <span> The sky is the limit. The system can do everything </span><br/>
                <br/>
                <span>Update:</span><br/>
                <span> Okay...so the system can't really do all that much at the moment <span class="font-italic">(the developers went on vacation)</span>
                    ...but there is still something</span><br/>
                <span> One of the most interesting things to look at is the entities tab <span class="font-weight-bold">**hint**  **hint** </span></span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>

    </div>
</div>
